@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to the Contract Monthly Claim System</h1><!--(W3schools, 2024)-->
    <p>Submit and manage your claims effortlessly.</p>
    <a asp-page="/Login" class="btn btn-primary">Login</a>
</div>
<!--Reference list:
W3schools. 2024. HTML Images. [Online]. Available at: https://www.w3schools.com/html/html_images.asp
W3schools. 2024. HTML Tables. [Online]. Available at: https://www.w3schools.com/html/html_tables.asp
W3schools. 2024. HTML Headings. [Online]. Available at: https://www.w3schools.com/htmL/html_headings.asp
W3schools. 2024. HTML <button> Tag. [Online]. Available at: https://www.w3schools.com/tags/tag_button.asp
W3schools. 2024. HTML <div> Tag. [Online]. Available at: https://www.w3schools.com/tags/tag_div.ASP
-->
